@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  background: rgb(235, 235, 235);
  height: 100vh;
}

p, label, h1, h2, h3, h4, h5, h6, span, a {
  font-family: 'Lato', sans-serif;
}

#app {
  display: flex;
  flex-wrap: wrap;
}

#todo-header {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 32px 0px;
  background-color: #1B5E20;
  justify-content: center;
}

#todo-header > input {
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  margin: 0px 8px;
  padding: 8px 12px;
  outline: none;
  border: none;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
  max-width: 480px;
  height: 48px;
}

.todo-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

#completed-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

#completed-container span {
  background: none;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  color: rgb(100, 100, 100);
  padding: 8px;
  outline: none;
}

.todo-item-container {
  position: relative;
}

.todo-item {
  padding: 8px 16px;
  font-size: 20px;
  height: 48px;
  display: flex;
  align-items: center;
  color: #FFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.todo-list {
  width: 100%;
  max-width: 560px;
}

.todo-item.completed {
  color: rgb(180, 180, 180)
}

.todo-edit-container {
  position: absolute;
  top: 0;
  height: 64px;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  display: none;
}

.todo-edit-container input {
  border: 1px solid rgb(102, 102, 102);
  font-size: 20px;
  margin: 0px 8px;
  padding: 8px;
  background: none;
  color: #FFF;
  outline: none;
  width: 100%;
  font-family: 'Lato';
}

.todo-item-container.editing .todo-item {
  visibility: hidden;
}

.todo-item-container.editing .todo-edit-container {
  display: flex;
}
